<!DOCTYPE html>
<html>
<head>
    <title>వరాహి దేవి బైక్ ప్రయాణం</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<center><header style="color: blue; font-weight: bold; font-size: 50px;">🛕 వరాహి దేవి బైక్ ప్రయాణ సేవ</header></center>
<div class="container">
            <p style="font-size:18px;">🙏 వరాహి దేవి ఆశీర్వాదంతో</p>
            <p>🚴  పోలవరం నుండి వరాహి దేవి ఆలయం వరకు</p>
            <p>👥  ఒక్కసారి ఇద్దరుకు మాత్రమే బైక్ పై ప్రయాణం</p>
            <p>💰  <b>వెళ్లి రావడానికి ఒకరికి ₹25 మాత్రమే</b></p>
            <p>⏰  ప్రతి రోజు ఉదయం 6 నుండి సాయంత్రం 9 వరకు సేవలు అందుబాటులో ఉంటాయి</p>
            <p>📍  ప్రారంభ స్థలం: పోలవరం బస్ స్టాండ్ సమీపం</p>
            <p>📍  గమ్యస్థలం: వరాహి దేవి ఆలయం</p>
            <p>📞  మరిన్ని వివరాలకు లేదా బుకింగ్ కోసం ఈ నంబర్లకు కాల్ చేయండి:<b>గారపాటి హరికృష్ణ గారు:7780155475,గారపాటి అనంతలక్ష్మి గారు:8985083828</b></p>
            <p>📞  call Garapati Hari Krishna Garu:7780155475,Garapati Anantha Lakshmi:8985083828</p>
            <p>⏰  సమయం ముందుగా బుక్ చేయండి</p>

            <a href="/book">
                  <button>బుక్ చేయండి</button>
            </a>
</div>
</body>
</html>
